{% extends "crowdocs/basic_layout.html" %}

{% load static %}

{% block title %}
{{ topic }}
{% endblock title %}

{% block content %}

<div class="row">

  <div class="offset-s0 offset-m2 offset-l3 col s12 m8 l6 card-panel row">
    <h5>Topic: {{ topic }}</h5>
    <ul class="collection">
      {% for article in articles %}
        <li class="collection-item">
          <a href="{% url 'articles:article' article.id %}">
            <h6><b>{{ article.article_title }}</b></h6>
            {% autoescape off %}
            <div class="smaller-text">{{ article.short_text }} <span class="right">{{ article.date_added }}</span></div>
            {% endautoescape %}
          </a>
        </li>
      {% empty %}
        <p>No articles in this topic yet.</p>
      {% endfor %}
    </ul>

    <a class="offset-s0 col s6 m4 l3 waves-effect waves-light btn-small"
        href="{% url 'articles:new_article' topic.id %}">
        Create new article
    </a>
  </div>

</div>

{% endblock content %}
